#Pandas

Pandas is a powerful library in python used for data manipulation and it provides data structures like Series and DataFrame, which plays crucial role in structured data.

To use pandas you need to install it using pip(pip install pandas) Statement used to install pandas library. later, we need to import pandas by using import statement.

In [3]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd

**Series**

Panads series is one of the fundamental data structure in pandas. It is a one dimensional labeled array which stores values. where each value in series is associated with an index which makes data retrieval and manipulation easy.

**Creating a series**:

You can create a series in several ways(using list, tuple, dictionary). but while creating a series using set data structure you need to convert it into list or tuple because Sets are unordered collections, so when converted to a Series, the order of elements is not guaranteed. Pandas relies on order when it creates a Series because each element is associated with an index.

In [5]:
list_series=pd.Series([1,2,3,4,5]) #series by list elements
dict_series=pd.Series({'a':1,'b':2,'c':3}) #here, index is keys
tuple_series=pd.Series((1,2,3,4,5)) #series by tuple elements

In [10]:
print(list_series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
print(dict_series)

a    1
b    2
c    3
dtype: int64

In [7]:
print(tuple_series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
# we can also create series using scalar value also
scalar_series=pd.Series(5,index=[1,2,3,4,5])

In [9]:
print(scalar_series)

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [10]:
#series using set
s={1,2,3,4,5}
l=tuple(s)
set_series=pd.Series(l)

In [11]:
print(set_series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

**Attributes**
 Pandas series has several attributes which provides information about series like data type, index, name, size, values etc..

In [12]:
print(list_series.dtype)
print(list_series.size)
print(list_series.index)
print(list_series.name)

int64
5
RangeIndex(start=0, stop=5, step=1)
None

*Accessing data:* data in series can be accessed using index label, index position and slicing.

In [13]:
print(list_series[0])
series1=pd.Series({'a':1,'b':2,'c':3})
print(series1['b'])
print(list_series[1:4])

1
2
1    2
2    3
3    4
dtype: int64

**Vectorized operations**

Pandas series support vectorized computations which means you can directly perform arithmetic operations on series.

In [14]:
print(list_series+tuple_series)

0     2
1     4
2     6
3     8
4    10
dtype: int64

**Applying functions**

You can apply custom functions on series using apply() function

In [25]:
a=list_series.apply(lambda x:x**x)
print(a)

0       1
1       4
2      27
3     256
4    3125
dtype: int64

you can also pass different custom functions in apply, but you need to define before use.

**Handling Missing Data**

Pandas series supports built in functions to handle with NULL values.

*   isnull(): Returns True if there exits null value.
*   fillna(value): Fills value in NULL item.
*   dropna(): Removes the NULL value.

In [28]:
import numpy as np
null_series=pd.Series([1,np.nan,2,np.nan])

In [29]:
null_series.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [33]:
null_series.fillna(null_series.mean())

0    1.0
1    1.5
2    2.0
3    1.5
dtype: float64

You can also replace values with max, min, scalar value  etc..

In [31]:
null_series.dropna()

0    1.0
2    2.0
dtype: float64

**Series Alignment**

when performing operations on two series objects pandas aligns them based on their index labels

In [35]:
series1=pd.Series([1,2,3,4],index=['a','b','c','d'])
series2=pd.Series([5,6,7,8],index=['b','c','d','e'])
print(series1+series2)

a     NaN
b     7.0
c     9.0
d    11.0
e     NaN
dtype: float64

**Conversion To Other Data Structure**
*   tolist(): Converts series to list
*   to_dict(): Converts series to dictionary

In [39]:
list_series.tolist()

[1, 2, 3, 4, 5]

Finally, a Pandas Series is a one-dimensional labeled array that can hold data of any type (integers, floats, strings, etc.). It is essentially like a column in a spreadsheet or a database. Each element in a Series has an associated label known as an index which makes it easier to access and manipulate data.

### Role of Series in Data Science:

1. **Data Handling**: Series are fundamental building blocks in data manipulation and analysis. They allow for efficient storage and access to data, whether it's a list of numbers, a set of strings, or a mix of different types.

2. **Data Cleaning**: Series provide powerful tools for handling missing data, filtering, and transforming values. This is crucial in data science, where cleaning and preprocessing data.

3. **Descriptive Statistics**: Series make it easy to perform statistical operations like mean, median, sum, and standard deviation. These operations are key in understanding the distribution and characteristics of data.

4. **Vectorized Operations**: Series support vectorized operations, meaning you can apply a function to all elements at once. This is much faster than using loops and is essential for handling large datasets efficiently.

In summary, Pandas Series play a crucial role in data science by providing a flexible and efficient way to store, access, and manipulate data. They form the backbone of many data science workflows, enabling everything from basic data cleaning to complex statistical analysis and modeling.